body {
  margin-right: 10%;    
  margin-left: 10%;
  line-height: normal;
}

:root {
  /* Colors */
  --bckground-bg-1: #f7f5ed;
  --color-black: #000;
  --general-color-3: 811828#fff;
  --color-brown: #811828;
  --color-gray-100: #06091a;
  --general-color-2: #060919;
  --color-gray-200: #ffffffe6;
  --color-gray-300: #ffffff33;
  --color-lavender-100: #d9ecff;
  --color-lavender-200: #dadaf74d;
  --color-darkslategray: #3d4e64;
  --color-lightgray: #d6d6d6;
  --radial: #ff9b00;
  --yellow: #ffc947;
  --bckground-bg-1: #f7f5ed;
  --color-dimgray: #565e6c;
  --general-color-3: #fff;
  --color-gray-100: #171a1f;
  --general-color-2: #060919;
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-gray-300: rgba(0, 0, 0, 0);
  --color-darkcyan: #0095a9;
  --color-silver: #c9c9c9;
  --radial: #ff9b00;
  /* Paddings */

  --padding-smi: 13px;

  --padding-smi-7: 12.7px;

  --padding-8xs-2: 4.2px;
  --padding-4xs-5: 8.5px;
  --padding-19xl-2: 38.2px;


  

  /* Border radiuses */
  --br-27xl-1: 46.1px;
  --br-28xl: 47px;
  --br-21xl: 40px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-193xl-2: 212.2px;
  --br-12xl-8: 31.8px;
  --br-10xl-4: 29.4px;
  --br-9xs-4: 3.4px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

image{
  position: absolute;
  top: 144.42px;
  left: 0;
  width: 99.29px;
  height: 33.1px;
}
.iteam_logo {
  position: absolute;
  top: 0;
  left: -3px;
 width: 150px;
  height:50px;
}

.text {
  align-self: stretch;
  position: relative;
  line-height: 55.27px;
}
.frame-child {
  position: relative;
  border-top: 4.6px solid var(--yellow);
  box-sizing: border-box;
  width: 96.37px;
  height: 4.61px;
}
.text1 {
  align-self: stretch;
  position: relative;
  font-size: 10.75px;
  line-height: 18.42px;
  font-weight: 500;
  opacity: 0.8;
}
.shadow1 {
  position: absolute;
  height: 43.24%;
  width: 85%;
  top: 51.35%;
  right: 7.5%;
  bottom: 5.4%;
  left: 7.5%;
  border-radius: 46.06px;
  background: radial-gradient(50% 50%at 50% 50%, #202d3d 12.5%, #811828);
  filter: blur(56.8px);
}

.neuon,
.get-started-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started-group {
  flex-direction: row;
  gap: 6.91px;
}
.neuon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 46.06px;
  background: radial-gradient(50% 50%at 50% 50%, #202d3d 12.5%, #811828);
  flex-direction: column;
  padding: 18.423015594482422px 24.564022064208984px;
  box-sizing: border-box;
}
.shadow-group {
  position: relative;
  width: 120.35px;
  height: 55.66px;
  text-align: right;
  font-size: 12.28px;
}

.iteam_logo-icon {
  position: relative;
  width: 137px;
  height: 44px;
  object-fit: cover;
}
.text2 {
  position: relative;
  line-height: 14.85px;
  display: inline-block;
  width: 205.82px;
}
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.49px;
}
.facebook-icon {
  position: relative;
  border-radius: 212.18px;
  width: 16.97px;
  height: 16.97px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo,
.social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.97px;
}
.logo {
  flex-direction: column;
}
.home,
.pages1 {
  position: relative;
}
.pages1 {
  line-height: 18.04px;
  font-weight: 500;
}
.home {
  line-height: 14.85px;
  display: inline-block;
  width: 97.07px;
}
.home-parent {
  width: 97.6px;
  flex-direction: column;
  gap: 8.49px;
  font-size: 9.55px;
}
.home-parent,
.nav,
.nav-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-menu {
  flex-direction: row;
  gap: 33.95px;
  font-size: 11.14px;
}
.nav {
  align-self: stretch;
  flex-direction: column;
  gap: 29.71px;
}
.footer-child {
  position: relative;
  border-top: 0.5px solid var(--radial);
  box-sizing: border-box;
  width: 637.08px;
  height: 0.53px;
  opacity: 0.5;
}
.designed {
  position: relative;
  line-height: 14.85px;
}
.footer {
  bottom: -26px;
  left: -9px;
  background-color: var(--general-color-2);
  border-top: 0.5px solid var(--radial);
  box-sizing: border-box;
  width: 792px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38.19265365600586px var(--padding-smi) 38.19265365600586px
    63.6544189453125px;
  gap: 21.22px;
  font-size: 9.55px;
  font-family: var(--font-space-grotesk);
}
.bg3 .footer{
  position: absolute;}
.bg3 {
  top: 0;
  left: 177.52px;
  background-color: var(--color-gray-100);
  width:  1500px;
  height: 454px;
}

.frame-item,
.hero1 {
  position: absolute;
  top: 0;
  left: -177.52px;
  width: 1309.52px;
  height: 690.52px;
}
.frame-item {
  top: 92px;
  left: 767px;
  width: 255.75px;
  height: 270.79px;
  overflow: hidden;
}
.buttonprimarywith-icon2 {
  position: absolute;
  height: 101.27%;
  width: 174.89%;
  top: -0.64%;
  right: -35.64%;
  bottom: -0.63%;
  left: -39.24%;
  border-radius: 31.83px;
  background: radial-gradient(50% 50%at 50% 50%, #202d3d 12.5%, #811828);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.243627548217773px 8.487255096435547px;
  box-sizing: border-box;
}
.group-div {
  position: relative;
  width: 58.88px;
  height: 21.22px;
}
.frame-container {
  position: absolute;
  top: 2px;
  left: 380px;
  width: 682px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12.730883598327637px 38.19265365600586px;
  box-sizing: border-box;
}
.iteam_logo-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 194px;
  height: 63px;
  object-fit: cover;
}
.frame-group,
.hero-group {
  position: absolute;
  top: 17px;
  left: 78px;
  width: 1062px;
  height: 63px;
}
.hero-group {
  top: 0;
  left: 8px;
  width: 1132px;
  height: 466px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-mini);
  font-family: var(--font-poppins);
}
.group1 {
  position: absolute;
  top: 90px;
  left: 48px;
  width: 720px;
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24.56px;
  font-size: 44.52px;
  font-family: var(--font-space-grotesk);
}
.footer {
  position: absolute;
}
.footer{
  bottom: -26px;
  left: -9px;
  background-color: var(--general-color-2);
  border-top: 0.5px solid var(--radial);
  box-sizing: border-box;
  width: 1149px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38.19265365600586px var(--padding-smi) 38.19265365600586px
    63.6544189453125px;
  gap: 21.22px;
  font-size: 9.55px;
  font-family: var(--font-space-grotesk);
}
.icon4 {
  top: 581px;
  left: 2px;
  width: 1099px;
  height: 219px;
  object-fit: contain;
}
.click-on-the,
.explore-top-categories {
  position: absolute;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
}
.click-on-the {
  width: 56.14%;
  top: 20.31%;
  left: 18.95%;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}
.explore-top-categories {
  top: 493px;
  left: 389px;
  line-height: 55px;
  font-family: var(--font-koho);
  width: 294px;
}
.group-child9 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--general-color-2);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 164.42px;
  height: 160.55px;
}
.ellipse-div {
  position: absolute;
  top: 27.57px;
  left: 49.26px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 63.9px;
  height: 60.79px;
}
.group-icon {
  position: absolute;
  height: 15.08%;
  width: 14.97%;
  top: 29.14%;
  right: 44.47%;
  bottom: 55.79%;
  left: 40.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.finance-bank {
  position: absolute;
  top: 113.44px;
  left: 7.11px;
  line-height: 22px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 162.52px;
  height: 33.77px;
}
.rectangle-parent {
  position: absolute;
  top: 617.88px;
  left: 576.22px;
  width: 169.63px;
  height: 158.55px;
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.group-child10 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--general-color-2);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 165.09px;
  height: 160.55px;
}
.art-design {
  position: absolute;
  top: 112.25px;
  left: 17.05px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 126.77px;
  height: 33.77px;
}
.group-child11,
.rectangle-group {
  position: absolute;
  top: 27.8px;
  left: 49.49px;
  width: 64.12px;
  height: 60.37px;
}
.rectangle-group {
  top: 616px;
  left: 54.34px;
  width: 163.09px;
  height: 158.55px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.group-child13 {
  position: absolute;
  top: 62.13px;
  left: 126.9px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 62.65px;
  height: 61.89px;
  transform: rotate(142.5deg);
  transform-origin: 0 0;
}
.development {
  position: absolute;
  top: 127.26px;
  left: 14.92px;
  line-height: 2px;
  font-weight: 500;
  display: inline-block;
  width: 144.64px;
  height: 3.07px;
}
.layers-icon {
  position: absolute;
  top: 43.24px;
  left: 65.9px;
  width: 31.95px;
  height: 30.08px;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 617.88px;
  left: 228.74px;
  width: 162.42px;
  height: 158.55px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.group-child15 {
  position: absolute;
  top: 65.81px;
  left: 126.03px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 62.96px;
  height: 61.58px;
  transform: rotate(147.37deg);
  transform-origin: 0 0;
}
.photography {
  position: absolute;
  top: 111.91px;
  left: 12.14px;
  line-height: 22px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 139.77px;
  height: 32.23px;
}
.camera-icon {
  position: absolute;
  top: 45.12px;
  left: 67.23px;
  width: 27.29px;
  height: 25.69px;
}
.rectangle-parent1 {
  position: absolute;
  top: 617.88px;
  left: 749.96px;
  width: 162.42px;
  height: 158.55px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.tech-com {
  position: absolute;
  top: 113.44px;
  left: 29.7px;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  width: 105.64px;
  height: 33.77px;
}
.group-child17 {
  position: absolute;
  top: 27.57px;
  left: 48.59px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 63.9px;
  height: 60.79px;
}
.chat-alt-3-icon {
  position: absolute;
  top: 45.75px;
  left: 68.56px;
  width: 27.96px;
  height: 25.69px;
  object-fit: cover;
}
.rectangle-parent2 {
  position: absolute;
  top: 617.88px;
  left: 402.48px;
  width: 162.42px;
  height: 158.55px;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.group-child19 {
  position: absolute;
  top: 27.57px;
  left: 49.93px;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  width: 63.9px;
  height: 60.79px;
}
.marketing {
  position: absolute;
  top: 113.44px;
  left: 38.31px;
  line-height: 22px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 108.89px;
  height: 33.77px;
}
.chart-pin-icon {
  position: absolute;
  top: 44.5px;
  left: 67.9px;
  width: 28.62px;
  height: 26.95px;
}
.rectangle-parent3 {
  position: absolute;
  top: 617.88px;
  left: 923.7px;
  width: 163.09px;
  height: 158.55px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
}
.arrow-left-icon-1-3,
.arrow-left-icon-1-4 {
  position: absolute;
  top: 681px;
  left: 10px;
  width: 32px;
  height: 30px;
  overflow: hidden;
}
.arrow-left-icon-1-3 {
  top: 683px;
  left: 1099px;
  object-fit: contain;
}
.about-us-tablet-inner,
.about-us-tablet-item {
  position: absolute;
  top: 985px;
  left: 29px;
  border-radius: var(--br-11xl);
  background-color: var(--general-color-2);
  border: 2px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 335px;
  height: 246px;
}
.about-us-tablet-inner {
  top: 1254px;
  height: 245px;
}
.supervised-machine-learning {
  height: 1.42%;
  width: 24.56%;
  top: 40.27%;
  left: 4.91%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.powerful-mental-tools,
.supervised-machine-learning,
.x-lesson,
.x-lesson1 {
  position: absolute;
  color: var(--color-lavender-100);
  display: inline-block;
}
.powerful-mental-tools {
  height: 1.46%;
  width: 24.56%;
  top: 50.62%;
  left: 4.91%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.x-lesson,
.x-lesson1 {
  height: 0.31%;
  width: 10%;
  top: 39.08%;
  left: 7.11%;
  line-height: 18px;
  font-weight: 500;
}
.x-lesson1 {
  width: 12.98%;
  top: 49.42%;
}
.about-us-tablet-child1,
.about-us-tablet-child2 {
  position: absolute;
  top: 1154.5px;
  left: 52.5px;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
  width: 284px;
  height: 1px;
}
.about-us-tablet-child2 {
  top: 1422.5px;
}
.about-us-tablet-child3,
.about-us-tablet-child4 {
  position: absolute;
  top: 985px;
  left: 392px;
  border-radius: var(--br-11xl);
  background-color: var(--general-color-2);
  width: 334px;
  height: 246px;
}
.about-us-tablet-child4 {
  top: 1254px;
  border: 2px solid var(--general-color-2);
  box-sizing: border-box;
  height: 245px;
}
.programming-for-everybody {
  height: 1.42%;
  width: 24.56%;
  top: 40.27%;
  left: 36.58%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.programming-for-everybody,
.programming-for-everybody1,
.x-lesson2,
.x-lesson3 {
  position: absolute;
  color: var(--color-lavender-100);
  display: inline-block;
}
.programming-for-everybody1 {
  height: 1.46%;
  width: 24.56%;
  top: 50.62%;
  left: 36.58%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.x-lesson2,
.x-lesson3 {
  height: 0.35%;
  width: 9.12%;
  top: 39.04%;
  left: 38.86%;
  line-height: 18px;
  font-weight: 500;
}
.x-lesson3 {
  width: 13.16%;
  top: 49.38%;
}
.about-us-tablet-child5,
.about-us-tablet-child6 {
  position: absolute;
  top: 1154.5px;
  left: 416.5px;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
  width: 284px;
  height: 1px;
}
.about-us-tablet-child6 {
  top: 1422.5px;
}
.about-us-tablet-child7,
.about-us-tablet-child8 {
  position: absolute;
  top: 985px;
  left: 755px;
  border-radius: var(--br-11xl);
  background-color: var(--general-color-2);
  border: 2px solid var(--general-color-2);
  box-sizing: border-box;
  width: 333px;
  height: 246px;
}
.about-us-tablet-child8 {
  top: 1254px;
  height: 245px;
}
.leading-teams-developing {
  height: 1.42%;
  width: 24.65%;
  top: 40.27%;
  left: 68.25%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.leading-teams-developing,
.leading-teams-developing1,
.x-lesson4,
.x-lesson5 {
  position: absolute;
  color: var(--color-lavender-100);
  display: inline-block;
}
.leading-teams-developing1 {
  height: 1.46%;
  width: 24.65%;
  top: 50.62%;
  left: 68.25%;
  line-height: 40px;
  font-family: var(--font-koho);
}
.x-lesson4,
.x-lesson5 {
  height: 0.35%;
  width: 10.44%;
  top: 39.04%;
  left: 70.79%;
  line-height: 18px;
  font-weight: 500;
}
.x-lesson5 {
  top: 49.38%;
}
.about-us-tablet-child10,
.about-us-tablet-child9 {
  position: absolute;
  top: 1154.5px;
  left: 777.5px;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
  width: 284px;
  height: 1px;
}
.about-us-tablet-child10 {
  top: 1422.5px;
}
.about-us-tablet-child11,
.about-us-tablet-child12 {
  position: absolute;
  top: 873px;
  left: 990px;
  border-radius: var(--br-21xl);
  background-color: var(--general-color-2);
  width: 39px;
  height: 41px;
}
.about-us-tablet-child12 {
  top: 872px;
  left: 1040px;
  width: 41px;
  height: 42px;
}
.text {
  position: relative;
  line-height: 28px;
}
.button-base,
.button-base1,
.button-base2,
.button-base3 {
  position: absolute;
  height: 1.19%;
  width: 8.68%;
  top: 45.04%;
  right: 54.82%;
  bottom: 53.77%;
  left: 36.49%;
  border-radius: var(--br-28xl);
  background-color: var(--color-brown);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
}
.button-base1,
.button-base2,
.button-base3 {
  height: 1.27%;
  top: 55.35%;
  bottom: 43.38%;
}
.button-base2,
.button-base3 {
  height: 1.19%;
  width: 8.77%;
  top: 45.04%;
  right: 22.98%;
  bottom: 53.77%;
  left: 68.25%;
}
.button-base3 {
  height: 1.27%;
  top: 55.35%;
  bottom: 43.38%;
}
.white_left-icon,
.white_left-icon1 {
  position: absolute;
  top: 883px;
  left: 1000px;
  width: 21px;
  height: 23px;
}
.white_left-icon1 {
  left: 1050px;
  width: 23px;
  object-fit: contain;
}
.button-base4,
.button-base5 {
  position: absolute;
  height: 1.19%;
  width: 8.51%;
  top: 45.04%;
  right: 86.58%;
  bottom: 53.77%;
  left: 4.91%;
  border-radius: var(--br-28xl);
  background-color: var(--color-brown);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
}
.button-base5 {
  height: 1.27%;
  top: 55.35%;
  bottom: 43.38%;
}
.explore-cources {
  position: relative;
  line-height: 18.42px;
  font-weight: 500;
}
.shadow-parent1 {
  position: absolute;
  top: 1544px;
  left: 469px;
  width: 166px;
  height: 65px;
  text-align: right;
  font-size: 12.28px;
  font-family: var(--font-space-grotesk);
}
.image-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 308.4px;
  height: 273.8px;
  object-fit: contain;
}
.image-parent {
  position: absolute;
  top: 1819px;
  left: 19px;
  width: 394px;
  height: 341px;
  overflow: hidden;
}
.every-data-request,
.frequently-asked-questions {
  position: absolute;
  font-family: var(--font-poppins);
  color: var(--color-black);
  display: inline-block;
}
.frequently-asked-questions {
  top: 1678px;
  left: 32px;
  line-height: 45px;
  font-weight: 500;
  width: 296px;
  height: 41px;
}
.every-data-request {
  top: 1738px;
  left: 496px;
  line-height: 28px;
  width: 626px;
  height: 119px;
}
.can-conversix-sync {
  position: absolute;
  top: 1678px;
  display: inline-block;
  height: 18px;
}
.can-conversix-sync,
.can-marketers-use,
.how-much-data {
  left: 496px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  width: 579px;
}
.how-much-data {
  position: absolute;
  top: 1905px;
  display: inline-block;
  height: 17px;
}
.can-marketers-use {
  top: 2005px;
  height: 19px;
}
.any-questions-find,
.can-marketers-use,
.how-accurate-is {
  position: absolute;
  display: inline-block;
}
.how-accurate-is {
  top: 2115px;
  left: 496px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  width: 579px;
  height: 18px;
}
.any-questions-find {
  top: 0;
  left: 0;
  line-height: 80px;
  width: 447.9px;
  height: 80.11px;
}
.any-questions-find-here-wrapper {
  position: absolute;
  top: 1735.03px;
  left: 30.01px;
  width: 447.9px;
  height: 80.11px;
  color: var(--color-black);
  font-family: var(--font-koho);
}
.about-us-tablet-child13 {
  position: absolute;
  top: 1842px;
  left: 496px;
  background-color: var(--color-black);
  width: 626px;
  height: 2px;
}
.about-us-tablet-child14,
.about-us-tablet-child15,
.about-us-tablet-child16,
.about-us-tablet-child17 {
  position: absolute;
  top: 2054px;
  left: 496px;
  background-color: var(--color-black);
  width: 626px;
  height: 1px;
}
.about-us-tablet-child15,
.about-us-tablet-child16,
.about-us-tablet-child17 {
  top: 1948px;
  height: 2px;
}
.about-us-tablet-child16,
.about-us-tablet-child17 {
  top: 2160px;
  height: 0;
}
.about-us-tablet-child17 {
  height: 0.08%;
  width: 1.23%;
  top: 64.85%;
  right: 2.11%;
  bottom: 35.08%;
  left: 96.67%;
}
.plus-empty-icon-2,
.plus-empty-icon-3,
.plus-empty-icon-4 {
  position: absolute;
  top: 1932px;
  right: 20px;
  width: 29px;
  height: 37px;
  overflow: hidden;
}
.plus-empty-icon-3,
.plus-empty-icon-4 {
  top: 2034px;
}
.plus-empty-icon-4 {
  top: 2142px;
  height: 36px;
}
.about-us-tablet {
  position: relative;
  background-color: var(--bckground-bg-1);
  width: 100%;
  height: 2600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--general-color-3);
  font-family: var(--font-inter);
}
.cropped-logo-iteamuniversity-1-icon {
  width: 150px;
}
